// variables
$freshBlue: #61DDFE;
$freshBlueShade: rgba(97, 220, 254, 0.1);
$freshViolet: #312477;
$freshMeteorite: #291D65;
$freshKimberly: #6D649D;
$freshCoral: #FF7D44;
$freshTitan: #F8F7FF;
$freshSelago: #E9E7FC;
$freshAmethyst: #A49FBE;

//import
@import url(./media-queries.css);

body{
    min-height: 100%;
    height: auto;
}
p{
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Space Grotesk', sans-serif;
}
h1{
    font-size: 14px;
    opacity: .4;
    font-weight: 300;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
section{
    position: relative;
    overflow: hidden;
}
.wrapper{
    margin: auto;
}
.txt-decor{
    position: relative;
    display: inline-block;
}
.txt-decor::before{
    content: url(../img/line-1.svg);
    position: absolute;
    left: -15px;
    bottom: -138px;
    user-select: none;
}
.carousel-indicators{
    .freshIndicator{
        border-radius: 50%;
        height: 10px;
        width: 10px;
        border: 2px solid $freshMeteorite;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.navbar-toggler:focus{
    box-shadow: none;
}
.svg-shape{
    position: absolute;
    user-select: none;
}

// GLOBAL
button.freshBlue, input.freshBlue{
    background-color: $freshBlue;
    padding: 18px 73px 20px 73px;
    border-radius: 30px;
    border: 0px;
    color: $freshViolet;
    transition: background-color .3s ease;
}
button.freshBlue:hover{
    background-color: $freshTitan;
    color: $freshViolet;
}
// SECTION - HEADER
header{
    background-color: $freshViolet;
    #first-navbar{
        background-color: $freshMeteorite;
        font-size: 14px;
        padding: 18px;
        font-family: 'Be Vietnam Pro', sans-serif;
        a{
            color: $freshKimberly;
            font-weight: 300;
            padding: 8px 15px
        }
        a.contact-link{
            color: #fff;
        }
        a.contact-link:hover{
            color: $freshBlue;
            text-decoration: underline;
        }
        #firstNav{
            img{
                margin: auto 14px auto 0
            };
        }
    }
    #second-navbar{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 17px;
        padding: 33px 0 112px 0;
        .navbar-brand{
            text-transform: uppercase;
            color: #fff;
            font-size: 19px;
            justify-content: space-around;
            img{
                height: 34.4px;
                width: 34.4px;
                margin: -5px 10px 0 0;
            }
            span{
                margin: auto;
            }
        }
        .nav-item{
            margin: auto 15px;
            a{
                color: #fff;
                font-weight: 300;
                padding: 8px 15px
            }
            a.dropdown-item:hover{
                background-color: $freshCoral;
            }
            a:hover{
                color: $freshBlue;
            }
            .fresh-dropdown{
                background-color: $freshMeteorite;
            }
        }
    }
}
// SECTION - VIDEO CONTAINER
#video-container{
    background-color: $freshViolet;
    color: #fff;
    height: 730px;
    position: relative;

    .small{
        font-size: 12px;
        opacity: .39;
    }
    #play-wrapper{
        button{
            background-color: transparent;
            transition: background-color .3s ease;
            border: 2px solid $freshCoral;
            border-radius: 50%;
            width: 115px;
            height: 115px;
            margin-left: 66px;
        }
        button::before{
            position: absolute;
            border-top: 2px solid $freshCoral;
            content: "";
            width: 40px;
            margin: 0 1rem;
            transform: translate(-105px, 12px);
        }
        button:hover{
            background-color: $freshCoral;
        }
    }
    #video-placeholder{
        margin-top: 63px;
        z-index: 6;
        position: relative;
            #shape-1{
                width: 116px;
                height: 114px;
                bottom: 114px;
                left: -104px;
            }
            #shape-2{
                width: 148px;
                height: 297px;
                bottom: 0px;
                right: -136px;
            }
    }
    #shape-3{
        width: 116px;
        height: 114px;
        bottom: 58px;
        left: 0;
        z-index: 5;
    }
}
// SECTION - STAGES
#mainpage-stages{
    margin-top: -175px;
    padding-top: 244px;
    padding-bottom: 208px;
    background-color: #fff;
    position: relative;
    .header-container{
        max-width: 900px;
        color: $freshMeteorite;
        margin: auto;
        margin-bottom: 117px;
    }
    #stages-carousel{
        margin-bottom: 160px;
        .stages-wrapper{
            padding: 65px 95px;
            margin: 10px;
            border: 2px solid $freshSelago;
            display: block;
            position: relative;
            transition: border .3s ease;
            color: $freshViolet;
            text-decoration: none;
            .stages-icon{
                background-color: $freshBlueShade;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                position: relative;
                margin: 0 20px;
                img{
                    position: absolute;
                    height: 55px;
                    width: 55px;
                    opacity: 1;
                    top: 13px;
                    right: 45px;
                }
            }
            h3{
                margin-top: 35px;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                margin: 25px auto;
            }
            p:nth-of-type(2){
                font-size: 17px;
                text-decoration: underline;
                transition: color .25s ease;
                margin: 40px auto 0 auto;
            }
            .carousel-pointer-left{
                position: absolute;
                right: -85px;
                z-index: 5;
            }
            .carousel-pointer-right{
                position: absolute;
                left: -75px;
                top: 50px;
                z-index: 5;
            }
        }
        .carousel-indicators{
            bottom: -80px;
        }
        .stages-wrapper:hover{
            border: 2px solid $freshMeteorite;
            p:nth-of-type(2){
                color: $freshBlue;
            }
        }
    }
    #shape-4{
        z-index: 5;
    }
}
// SECTION - REVIEWS
#mainpage-reviews{
    background-color: $freshTitan;
    color: $freshViolet;
    margin-top: -175px;
    padding-top: 244px;
    padding-bottom: 196px;
    #rating-carousel{
        z-index: 5;
        .rating-container{
            margin-bottom: 67px;
            p.small{
                font-size: 18px;
                font-weight: 300;
            }
            img{
                margin: 25px 10px;
            }
        }
        .rating-author{
            margin-top: 91px;
            .rating-photo{
                width: 71px;
                height: 71px;
                display: inline-block;
                margin-right: 18px;
            }
            p{
                display: inline-block;
            }
        }
        .carousel-indicators{
            justify-content: right;
        }
    }
    #shape-5{
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    #shape-6{
        right: 0;
        bottom: -90px;
    }
}
// SECTION - POSTS
#mainpage-posts{
    padding-top: 159px;
    .rounded-link{
        margin-right: 3px;
        border-radius: 19px;
        padding: 11px 20px;
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
        transition: all .3s ease;
    }
    .article-container{
        padding: 0 35px 159px 35px;
        color: $freshViolet;
        .cover-img{
            overflow: hidden;
            position: relative;
            margin-bottom: 52px;
            .link-wrapper{
                position: absolute;
                margin: 20px;
                z-index: 5;
                .category-link{
                    background-color: $freshCoral;
                    color: #fff;
                }
                .category-link:hover{
                    color: $freshCoral;
                    background-color: #fff;
                }
            }
        }
        .date-link{
            color: $freshViolet;
            background-color: $freshTitan;
        }
        .date-link:hover{
            color: $freshTitan;
            background-color: $freshViolet;
        }
        h2{
            margin: 23px auto 27px auto;
            font-size: 30px;
        }
        .txt-wrapper{
            max-width: 400px;
            font-weight: 300;
            margin-bottom: 32px;
        }
        .article-link{
            font-size: 17px;
            color: $freshViolet;
            text-decoration-color: $freshViolet;
            transition: all .3s ease;
            span{
                margin-right: 28px;
                font-size: 17px;
            }
        }
        .article-link:hover{
            color: $freshBlue;
            text-decoration-color: $freshBlue;
        }
    }
}
// SECTION - NEWSLETTER
#mainpage-newsletter{
    #newsletter-wrapper{
        background-color: $freshTitan;
        padding: 87px 134px;
        color: $freshViolet;
        z-index: 5;
        position: relative;
        h2{
            font-size: 30px;
            margin-bottom: 51px;
            max-width: 600px;
            .txt-decor::before{
                content: url(../img/line.svg);
                position: absolute;
                left: -35px;
                bottom: -60px;
                user-select: none;
            }
        }
        input.text-input{
            color: $freshViolet;
            font-size: 17px;
            width: 95%;
            padding: 20px 100px;
            border-radius: 30px;
            border: 0;
            background-image: url('../img/Path\ 57.svg');
            background-size: 41px 10px;
            background-repeat: no-repeat;
            background-position: 4% 50%;
        }
        input.text-input::placeholder{
            color: $freshViolet;
        }
        #submit-container{
            position: relative;
            input.freshBlue{
                color: #fff;
            }
            input.freshBlue:hover{
                background-color: $freshViolet;
                color: $freshTitan;
            }
            #shape-10{
                top: -35px;
                left: -90px;
            }
        }
        #shape-11{
            left: -114px;
            bottom: 88px;
        }
    }
}
// FOOTER
footer{
    font-family: 'Space Grotesk', sans-serif;
    background-color: $freshViolet;
    color: #fff;
    position: relative;
    padding-top: 187px;
    margin-top: -88px;
    overflow: hidden;
    #footer-logotype{
        text-transform: uppercase;
        font-size: 19px;
        display: inline-flex;
        font-weight: 700;
        img{
            width: 34px;
            height: 34px;
        }
        span{
            font-weight: 500;
            margin: auto 5px auto 15px;
            display: inline-block;
            letter-spacing: 1px;
        }
    }
    #footer-middle{
        margin-top: 90px;
        a{
            font-size: 30px;
            font-weight: 700;
            display: block;
            position: relative;
            z-index: 5;
        }
        a:nth-of-type(1){
            text-decoration: none;
            color: #fff;
        }
        a:nth-of-type(2){
            color: $freshCoral;
        }
    }
    #footer-txt{
        padding: 62px 0 80px 0;
        font-weight: 300;
        font-size: 22px;
        line-height: 20px;
    }
    button.freshBlue{
        margin-bottom: 125px;
        position: relative;
        z-index: 5;
    }
    button.freshBlue:hover{
        background-color: $freshTitan;
    }
    .footer-links{
        font-family: 'Be Vietnam Pro', sans-serif;
        a{
            display: block;
            color: #fff;
            margin: 10px;
            text-decoration: none;
            transition: all .3s ease;
            font-weight: 300;
        }
        a:hover{
            color: $freshBlue;
            text-decoration: underline;
            text-decoration-color: $freshBlue;
        }
    }
    #social-media{
        text-align: right;
        padding-right: 50px;
        position: relative;
        margin-top: 170px;
        a{
            padding: 0 10px;
            img{
                max-height: 23px;
                max-width: 23px;
            }
        }
    }
    #shape-8{
        bottom: 86px;
        left: -7px;
        z-index: 1;
        user-select: none;
    }
    #shape-9{
        bottom: -50px;
        right: -115px;
        z-index: 1;
    }
    #bottom-footer{
        background-color: $freshTitan;
        font-size: 17px;
        p{
            margin: 31px 0;
            color: $freshAmethyst;
            font-size: 16px;
        }
        img{
            width: 89px;
            height: 13px;
            margin: 38px auto 0 auto;
        }
        img:nth-of-type(2){
            position: absolute;
            top: 5px;
            left: 320px;
            width: 13px;
            height: 7px;
        }
    }
    
}
// MOBILE
@media screen and (max-width: 992px) {
    header #second-navbar{
        padding: 33px 0 52px 0;
    }
    #mainpage-stages{
        padding-top: 140px;
        .header-container{
            margin-bottom: 80px;
        }
    }
    #mainpage-stages #stages-carousel .stages-wrapper{
        padding: 35px 55px;
        margin: 10px 220px;
    }
    #mainpage-stages #stages-carousel .stages-wrapper .carousel-pointer-left{
        transform: rotate(90deg);
        right: -20px;
    }
    #mainpage-stages #stages-carousel .stages-wrapper .carousel-pointer-right{
        transform: rotate(90deg);
        left: 160px;
        top: -60px;
    }
    #mainpage-reviews{
        padding-top: 80px;
    }
    #mainpage-posts{
        padding-top: 50px;
        .article-container{
            padding: 0 35px 80px 35px
        }
    }
    footer{
        padding-top: 125px;
        text-align: center;
        #footer-txt{
            padding: 32px 0 0 0;
        }
        button.freshBlue{
            margin-bottom: 0;
            padding: 15px;
        }
        #footer-middle{
            margin-top: 40px;
            margin-bottom: 40px;
            a{
                font-size: 20px;
            }
        }
        #social-media{
            text-align: center;
            padding: 40px 0;
            margin: 0;
        }
        #bottom-footer p{
            margin: 31px 0 0 0;
        }
    }
    footer #shape-8{
        bottom: 50px;
    }
    footer #shape-9{
        bottom: 85px;
        right: -94px;
    }
}

@media screen and (max-width: 768px) { 
    button.freshBlue{
        margin: 20px auto;
    }
    button.freshBlue, input.freshBlue{
        padding: 12px 43px 12px 43px;
        font-size: 14px
    }
    h2{
        font-size: 30px;
    }
    #video-container h2{
        margin-top: 25px;
    }
    .txt-decor::before{
        transform: scale(0.5);
        left: -75px;
        bottom: -120px;
    }
    .svg-shape{
        transform: scale(0.5);
    }
    header #second-navbar{
        padding: 33px 0 22px 0;
    }
    #video-container #video-placeholder{
        margin-top: 0;
    }
    #mainpage-stages{
        padding-top: 50px;
        padding-bottom: 130px;
        .header-container{
            margin-bottom: 50px;
        }
        #stages-carousel .stages-wrapper{
            padding: 15px 40px;
            margin: 10px 40px;
        }
    } 
    #mainpage-stages #stages-carousel .stages-wrapper p, #mainpage-stages #stages-carousel .stages-wrapper p:nth-of-type(2){
        font-size: 15px;
    }
    #mainpage-reviews{
        padding-top: 60px;
        padding-bottom: 120px;
        #rating-carousel{
            .rating-container {
                margin-bottom: 27px;
            }
            .rating-author{
                margin-top: 20px;
            }
        }
    }
    #mainpage-reviews #rating-carousel .carousel-indicators{
        bottom: -80px;
    }
    #mainpage-posts{
        padding-top: 60px;
        .article-container h2{
            font-size: 20px;
        }
    } 
    #mainpage-newsletter #newsletter-wrapper{
        padding: 60px 35px;
    }
    #mainpage-newsletter #newsletter-wrapper h2{
        text-align: center;
    }
    #mainpage-newsletter #newsletter-wrapper h2 .txt-decor::before{
        left: -20px;
        bottom: -62px;
    }
    #mainpage-newsletter #newsletter-wrapper input.text-input{
        font-size: 14px;
        padding: 20px 65px;
    }
    #mainpage-newsletter #newsletter-wrapper #submit-container #shape-10{
        top: -42px;
        left: auto;
        right: -65px;
        transform: rotate(111deg);
    }
    #submit-container{
        margin-top: 30px;
    }
    #video-container #video-placeholder #shape-1{
        left: -75px;
    }
    #video-container #video-placeholder #shape-2{
        right: -99px;
        bottom: -65px;
    }
    #video-container #shape-3{
        bottom: 146px;
        left: -29px;
    }
    #mainpage-reviews #shape-5{
        transform: scale(0.5);
        top: 20%;
    }
    #mainpage-reviews #shape-6{
        bottom: -75px;
    }
}